/* ---------
Font Settings
--------- */
/* Global font settings */
body,
input[type="text"],
textarea,
input[type="password"],
input[type="email"] { font:100%/1.5 "Raleway", Arial, sans-serif }

h1, h2, h3, h4, h5, h6 { font-family:"Raleway", Arial, serif }

footer,
.branding h2,
input[type="submit"],
input[type="submit"]:hover,
select,
.btn a,
.btn span,
p[id="count"] { font-family:"Raleway", Arial, sans-serif }

.branding p { font-family: 'Raleway', Arial, sans-serif; font-weight: 700; }
.branding p span { font-family:"Raleway", Arial, serif }

nav[id="primary"] li a.active { font-family: 'Raleway', Arial, sans-serif; font-weight: 700; }

/* --------------------------- 
Base extended: 
Bones from skeleton
--------------------------- */
/* Self Clearing Goodness */
.container:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden }

/* Use clearfix class on parent to clear nested columns, or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after { content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }
    
.row:after,
.clearfix:after { clear:both }
    
.row,
.clearfix { zoom:1 }

/* You can also use a <br class="clear" /> to clear columns */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }

/* ----------------------------
Base overrides:
Defined in skeleton/base.css 
---------------------------- */
body { color:rgb(30,30,30) }

h1, h2, h3, h4, h5, h6 { /* Font family set in fonts section */ font-weight:normal; color:rgb(91,91,92) }

h1 { font-size:2.25em; line-height:1.3em }
h2 { font-size:1.5em; line-height:1.3em /*was 1.875em*/ }
h3 { font-size:1em; font-weight:bold; line-height:1.25em }
h4 { font-size:0.875em }
h5 { font-size:0.75em }
h6 { font-size:0.75em }

p { margin:0 0 2em 0 }
ul + h1,
ol + h1,
dl + h1 { margin-top:0.94em }

blockquote, blockquote p { font-size:1em; line-height:1.5em }
blockquote { margin:0 0 1.5em; padding:0.5625em 1.25em 0 1.1875em; border-left:1px solid #ddd } /* check this */

article ul,
article ol { list-style-type:disc; margin-left:1.25em }

input[type="submit"] { 
	border:none;
	text-shadow:none; 
	font-size:1em; 
	font-weight:normal; 
	margin-bottom:0 }
input[type="submit"]:hover { border:none }

input[type="text"],
textarea,
input[type="password"],
input[type="email"],
select { 
	width:93%;
	margin-bottom:0; 
	padding:0.6875em 0.625em 0.625em 0.625em; 
	color:rgb(61,61,62)
	/* Font family set in fonts section */ }
	
/* ------------------------
Layout 
------------------------ */
html,
body { height:100%; }

article { padding:0 } /* Chet ask semantic thoughts on article wrap in app */

div[id="sidebar"] { display:none }

/* ------------------------ 
Theme 
------------------------ */
.wrapper h1, 
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 { color:rgb(255,255,255) }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration:none }

a, 
a:visited,
a:hover, 
a:focus { color:rgb(255,255,255) }

strong { color:rgb(255,255,255) }

header,
footer,
nav[id="primary"],
.wrapper { color:rgb(255,255,255); background:rgb(59,59,60) }

footer { padding:1.6875em 0; font:1.125em; text-align:center }

.branding { padding:2.75em 1.25em 1.5625em 1.25em; text-align:center; font-size:1.125em }

.branding h1 a { 
	display:block;
	margin:0 0 1em 0;
	text-indent:-999em;
	width:100%;
	height:83px;
	background:url('../images/whiskers-logo.png') top left no-repeat;
	background-size:240px 83px;
	background-position:center }
	
.branding p { margin-bottom:0; }

/* ------------------------ 
Modules 
-------------------------*/
/* Messages */
.messages { 
	margin:0.5em 1.25em; 
	padding:1.125em 1.125em 0.25em 1.125em; 
	font-size:0.889em; 
	-webkit-border-radius:0.375em; 
	-moz-border-radius:0.375em; 
	border-radius:0.375em }

ul.messages { padding:1.125em 1.125em 0.25em 2.5em }

p.messages,
div.messages { padding-bottom:1.125em }

ul.messages li { word-wrap:normal }

form[id="add_service"] p { margin-bottom:0.875em }

/* Sign In */
.admin-forms { padding:1.25em }

/* Accounts List */
.accounts-list { margin:0; padding:0 }
.accounts-list li {
	margin-bottom:0;
	padding:1em; 
	list-style-type:none; 
	border-bottom:1px solid rgb(45,45,45) }
.accounts-list li:last-child { border-bottom:hidden }

.accounts-list li div { float:left }

/* Accounts List: Remove Service */
form[id="remove-service"] input[type="submit"] { float:right; width:5.6875em }

/* Posting History */
.posting-history { 
	margin-top:0; 
	border-top:1px solid rgb(59,59,60); /*temp hack to shield extra padding */
	background:rgb(59,59,60) }

/* Main Posting */
.posting-main { margin-bottom:0; background:rgb(59,59,60) }

.all-services h2,
.all-services input[id="post-form-submit"],
.all-services p { display:none }

.all-drivers_text,
.servive-textarea { 
	height:7em; 
	padding:0.5em;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0; 
	border:hidden }

/* Field Shim */
.field-shim { position:relative; color:rgb(59,59,60); background:rgb(255,255,255) }
	
.field-shim a { color:rgb(59,59,60); text-decoration:none }

/* Posting Utilities */
.post-utilities { position:relative; margin:0 1.25em 0.5em 1.25em; padding:0.5em 0 0 0; background:rgb(59,59,60) }
.post-utilities #post-form-submit,
.post-utilities .btn { width:4.6875em; position:absolute; top:0.5em; padding:0.5em 0 }
.post-utilities #post-form-submit { right:0 }
.post-utilities .btn { padding:0 }
.post-utilities .btn a,
.post-utilities .btn span { padding:0.5em 0 }

.post-utilities p { margin-bottom:0.125em; padding:0.5em }

.post-utilities .field-shim {
	-moz-border-radius:0.1875em;
	-webkit-border-radius:0.1875em;
	-moz-box-shadow: inset 0 7px 7px -7px #888;
	-webkit-box-shadow: inset 0 7px 7px -7px #888;
	box-shadow: inner 0 7px 7px -7px #888
}

/* Posting Utilities: History */
.posting-history .post-utilities a { display:block; }

/* Posting Utilities: Main Posting */
.posting-main .post-utilities { text-align:center }

/* App Lists */
.app-lists { color:rgb(59,59,60); background:rgb(237,237,237) }
.app-lists a { color:rgb(59,59,60); text-decoration:none }
.app-lists ul { margin:0; padding:0; list-style-type:none }
.app-lists li {
	border-top:1px solid rgb(255,255,255); 
	border-bottom:1px solid rgb(210,210,210);  
	margin:0; 
	padding:0.5em 1.25em
}

.app-lists .posting { 
	width:85%;
	height:1.6875em;
	margin-bottom:0;
	padding:0.5em 0 0 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:rgb(30,30,30);
}

.app-lists .posting a {
	display:block;
	margin-top:-0.5em;
	padding:0.5em 1.6875em 0.25em 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background:url('../images/whiskers-arrow.png') center right no-repeat;
	background-size:1.6875em
}

.app-lists .date { display:none }

.app-lists .field-shim { padding:0.25em; border:1px solid rgb(210,210,210) }
	
/* App Lists: Services Sprite */
.app-lists .service-icons { 
	float:left;
	width:2.1875em; /*35px;*/ 
	height:2.1875em; /*35px;*/
	margin-right:0.25em }

.appnet-icon { 
	background:url('../images/whiskers-services-sprite.png') 0 0 no-repeat; 
	background-size:2.1875em 6.5625em /*35px 105px*/ 
}
.facebook-icon { 
	background:url('../images/whiskers-services-sprite.png') 0 -2.1875em no-repeat; 
	background-size:2.1875em 6.5625em 
}
.twitter-icon { 
	background:url('../images/whiskers-services-sprite.png') 0 -4.375em no-repeat; 
	background-size:2.1875em 6.5625em 
}		

/* App Lists: Main Posting */
.posting-main .posting { cursor:pointer }
.posting-main .app-lists .posting { float:left; width:55% }

.edit-status { 
	background:rgb(255,255,255); 
	position:absolute; 
	top:0.5; 
	right:0.5em;
	height:1.6875em;
	padding-top:0.5em }
	
.service-edit {
	position:fixed;
	top:0;
	left:0;
	padding:0.125em 0;
	background:rgb(59,59,60);
	overflow:hidden;
	z-index:1000 
}

.service-edit .field-shim { position:relative }
.service-edit .post-utilities { text-align:left; color:rgb(255,255,255) }
.service-edit textarea { height:7em; background:rgb(255,255,255) }
.service-edit .btn { position:absolute; right:0 }

/* ------------------------ 
States 
------------------------ */
.form-item { margin-bottom:1.75em; overflow:hidden /*overflow for IOS6 quirck*/ }
 
.form-item,
.btn, 
.btn a,
.btn span { -webkit-border-radius:0.1875em; -moz-border-radius:0.1875em; border-radius:0.1875em }

.form-item,
.btn { margin-bottom:2em; padding:1.25em; background:rgb(237,237,237) }

input[type="submit"],
input[type="submit"]:hover,
.btn a,
.btn span { 
	background:#e3e3e3;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e3e3e3));
	background:-webkit-linear-gradient(top, #e3e3e3, #ffffff);
	background:-moz-linear-gradient(top, #e3e3e3, #ffffff); 
	background:-ms-linear-gradient(top, #e3e3e3, #ffffff);
	background:-o-linear-gradient(top, #e3e3e3, #ffffff);
	padding:0.83em 0; 
	display:block;
	text-align:center; 
	color:rgb(59,59,60);
	text-decoration:none; 
	line-height:1.25em }
	
input[type="submit"]:hover,
.btn a:hover,
.btn span:hover {
	background:#e3e3e3; 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d9d9d9));
	background:-webkit-linear-gradient(top, #e3e3e3, #d9d9d9);
	background:-moz-linear-gradient(top, #e3e3e3, #d9d9d9); 
	background:-ms-linear-gradient(top, #e3e3e3, #d9d9d9);
	background:-o-linear-gradient(top, #e3e3e3, #d9d9d9) }
		
select { 
	width:100%; 
	height:3.7125em; 
	margin-bottom:1.25em; 
	padding:0.6875em 0.625em 0.625em 0.625em;
	color:rgb(59,59,60) }	

input[type="submit"] { width:100% }

/* primary menu */
nav[id="primary"] a { display:block; color:rgb(255,255,255); text-decoration:none }

/* javascript joints */
.is-hidden { display:none }

/* ------------------------ 
Media Queries
------------------------ */
@media all and (min-width:479px) {
	input[type="text"],
	textarea,
	input[type="password"],
	input[type="email"] { width:94% }
	
	.app-lists .posting { width:90.5% }

	.posting-main .app-lists .posting { width:73% }	
}

@media all and (min-width:767px) {
	.app-lists .posting { width:94% }

	.posting-main .app-lists .posting { width:84% }
}

@media all and (min-width:801px) {
	.wrapper.desktop-views { background:rgb(237,237,237) url('../images/whiskers-desktop-bg.png') top left repeat-y !important; }

	.desktop-views .content { 
		float:left; 
		width:43.75em; 
		position:relative; 
		top:1.4em; 
		left:18.75em }

	.desktop-views div[id="sidebar"] { 
		position:fixed; 
		top:10.8125em;  
		width:16.55em;
		display:block }
		
	nav[id="primary"] ul { margin-bottom:0; padding:0.5em 1.25em 0 1.25em; font-size:1.125em }
	nav[id="primary"] li { margin:0; padding:0 }
	nav[id="primary"] li a { padding:0.5em 0 }

	.desktop-views footer { 
		position:fixed; 
		bottom:0; 
		width:16.55em; 
		margin:0; 
		padding:1.6875em 0 1.1875em 0; 
		text-align:left }		
	.desktop-views footer p { margin:2.65em 1.25em 0 1.25em }
	
	.desktop-views .branding { 
		position:fixed; 
		top:0; 
		width:12.2em; 
		padding:1.25em 1.25em 1.5625em 1.25em }				
	.desktop-views .branding h1 a { 
		width:220px;
		height:77px;
		margin-left:2px;
		background:url('../images/whiskers-logo.png') top left no-repeat;
		background-size:220px 77px;
		background-position:center }		
	.desktop-views .branding p { display:none }
	
	.admin-forms { width:30em; margin:1.25em auto 0 auto }
	
	.add-services { 
		width:41.25em; 
		margin:0 0 2.5em 0; 
		color:rgb(30,30,30); 
		background:rgb(255,255,255) }			
	.add-services h2,
	.add-services h3,
	.add-services a { color:rgb(30,30,30) }
	
	.accounts-list li { border-bottom:1px solid rgb(210,210,210) }
	.accounts-list li:last-child { border-bottom:none }
			
	form[id="add_service"] select { 
		float:left; 
		width:8.125em; 
		height:46px; 
		margin:0 }	
	form[id="add_service"] input[type="submit"] { 
		float:left; 
		width:5.625em; 
		margin:0 0 0 1.25em; 
		border:1px solid rgb(210,210,210) }
	
	#remove-service input[id="remove_service_submit"] {
		width:3.125em;
		text-indent:-9999em;
		background:url('../images/whiskers-remove.png') top left no-repeat 
	}	
	
	.posting-history,
	.posting-main { border-top:none; background:rgb(237,237,237) }
	
	.post-utilities { display:none }
	
	.app-lists { 
		width:41.25em; 
		padding:1.25em; 
		background:rgb(255,255,255) }
	.app-lists li { 
		margin-bottom:1.25em; 
		padding:0.5em;
		background:rgb(237,237,237); 
		border:1px solid rgb(210,210,210); }
	.app-lists li:last-child { margin-bottom:0; }
	.app-lists .posting { width:37em }
	.app-lists .date { 
		display:block; 
		margin:0 0.25em 0 0; 
		text-align:right; 
		font-size:0.75em }	
	
	input[id="post-form-submit"] { width:14em; margin-right:8em; margin-left:8em }

	/* App Lists: Main Posting */	
	.edit-status { display:none; }
	
	.desktop-views .service-edit {
		display:block !important;
		float:left;
		position:static;
		width:39.6875em !important;
		height:100% !important;
		margin-top:-2.1875em;
		background:transparent;
		z-index:auto }

	.service-edit .post-utilities { 
		display:block;
		width:38.25em;
		padding-top:0;
		color:rgb(30,30,30); 
		background:transparent }	
	.service-edit .post-utilities:first-child { margin-bottom:1.25em }
	.service-edit .post-utilities:last-child { margin:0; padding:0 }	
	.service-edit p span { display:none }	
	.service-edit textarea { 
		width:38.125em !important; 
		height:7em; 
		margin-top:1.3em; 
		border:1px solid rgb(210,210,210) }
	.service-edit .btn,
	.all-services input[id="post-form-submit"] { 
		position:absolute; 
		top:-0.1em; 
		right:0; 
		border:1px solid rgb(210,210,210) }	
	.service-edit .btn a,
	.service-edit .btn span { padding:0.42em 0 }	
	.service-edit .close { display:none }	
	.service-edit .count { margin-left:0px; padding:0.45em 0 0 0.6em; line-height:1em }

	.all-services h2,
	.all-services input[id="post-form-submit"],
	.all-services p { display:block }
	.all-services { 
		position:absolute; 
		top:0; 
		width:41.25em; 
		margin:0 0 1.25em 0; 
		padding:1.25em 1.25em 0 1.25em; 
		background:rgb(255,255,255) }	
	.all-services h2 { display:block; color:rgb(30,30,30) }
	.all-services textarea { width:40em !important; border:1px solid rgb(210,210,210) }
	.all-services input[id="post-form-submit"] { 
		top:1.125em; 
		right:-6.6em; 
		width:90px; 
		padding:0.42em 0 }	
	.all-services .count { margin-bottom:1.25em; padding:0.45em 0 0 0.6em; color:rgb(30,30,30) }

	.posting-main .posting { display:none }
	.posting-main .app-lists { margin-top:16.5em; margin-bottom:2.5em }
}

/* temp */
.error {
  border-color:lightCoral;
  color:lightCoral;
}
.success {
  background:rgb(2,180,77);
  border-color:#061;
  border-width:1px;
  color:rgb(2,180,77);
}

.field-shim.success,
.success .edit-status,
.field-shim.error,
.error .edit-status { /*color:rgb(30,30,30) !important;*/ }

.success .edit-status,
.error .edit-status { background:transparent; color:rgb(30,30,30) }

.field-shim.success { background:rgb(255,255,255); }
.field-shim.success p { color:rgb(2,180,77) }